{% trans_default_domain 'FOSUserBundle' %}

<div id="page" class="row">
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

        <div class="row">
            <fieldset>
                <legend style="width: 50%; margin-left: 15px;">Paramètres de connexion</legend>
                <div class="col-md-4">
                    {{ form_row(form.username) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.current_password) }}
                </div>
            </fieldset>
        </div>
        {% if app.user.hasRole('ROLE_SUPER_ADMIN') or app.user.hasRole('ROLE_ADMIN') %}

        {% else %}
            <div class="row">
                <fieldset>
                    <legend style="width: 45%; margin-left: 15px;">Informations personnelles</legend>
                    <div class="col-md-6">

                        {{ form_row(form.nom) }}

                        {% if app.user.hasRole('ROLE_MAIRIE') %}
                            {#{{ form_row(form.nom) }}#}
                            {{ form_row(form.mairie.description) }}
                            {{ form_row(form.mairie.service) }}
                            {{ form_row(form.mairie.epci) }}
                        {% elseif app.user.hasRole('ROLE_PART') %}
                            {#{{ form_row(form.nom) }}#}
                            {{ form_row(form.administre.prenom) }}
                            {{ form_row(form.administre.langueMat) }}
                        {% endif %}

                        {{ form_row(form.langue) }}

                        {{ form_row(form.indicatif) }}


                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>Adresse</legend>

                                {{ form_row(form.adresse.pays) }}

                                {{ form_row(form.adresse.ville) }}

                                {{ form_row(form.adresse.rue) }}

                                {{ form_row(form.adresse.codePostal) }}

                                {{ form_row(form.telephone) }}

                        </fieldset>
                    </div>
                </fieldset>
            </div>
        {% endif %}
        <div>
            <center><input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-success"/></center>
        </div>
    {{ form_end(form) }}
</div>
